{{!-- testando 123</h5> --}}

<div class="titulo">
      <h2>Itens Disponíveis</h2>
      <p>Aqui você pode ver os produtos e serviços disponíveis para compra.</p>
</div>

<br>

<div class="conteudo">
    <div class="subtitulo-itens">
        <h2>Produtos</h2>

        <div class="pesquisa">
            {{!-- <p>Pesquisar:</p> --}}
            <i class="fa-solid fa-magnifying-glass fa-2x lupa"></i>
            <input type="text" id="pesquisar1" onkeyup="pesquisaProdutoseServicos('produtos','pesquisar1')" placeholder="Digite o nome de um produto...">
        </div>
    </div>

    <div class="divisor"></div>

    <div id="produtos" class="itens">
        {{#each produtos}}
            <div class="container-produto">
                {{!-- Nome: {{nome_comprador}}<br> --}}
                <div class="imagem-produto-loja">
                    <img src={{caminho_da_imagem}} alt="imagem"/>
                </div>

                <div class="opcoes-loja">
                    <h2>{{nome_item}}</h2>
                    <br><span class="preco">{{preco}}</span>
                    <p>
                        {{quantidade_disponivel}} disponíveis
                    </p>

                    <button class="botao-carrinho">
                        <i class="fa-solid fa-cart-shopping" style="padding-right:3px;"></i>
                        Adicionar ao carrinho
                    </button>
                </div>
                    
            </div>
        {{/each}}
    </div>

    <br><br>
    <div class="subtitulo-itens">
        <h2>Serviços</h2>

        <div class="pesquisa">
            {{!-- <p>Pesquisar:</p> --}}
            <i class="fa-solid fa-magnifying-glass fa-2x lupa"></i>
            <input type="text" id="pesquisar2" onkeyup="pesquisaProdutoseServicos('servicos','pesquisar2')" placeholder="Digite o nome de um serviço...">
        </div>
    </div>
    <div class="divisor"></div>

    <div id="servicos" class="itens">
        {{#each servicos}}
            <div class="container-produto">
                {{!-- Nome: {{nome_comprador}}<br> --}}
                <div class="imagem-produto-loja">
                    <img src={{caminho_da_imagem}} alt="imagem"/>
                </div>
                
                <div class="opcoes-loja">
                    <h2>{{nome_item}}</h2>
                    <br><span class="preco">{{preco}}</span>
                    <p>
                        {{quantidade_disponivel}} disponíveis
                    </p>

                    <button class="botao-carrinho">
                        <i class="fa-solid fa-cart-shopping" style="padding-right:3px;"></i>
                        Adicionar ao carrinho
                    </button>
                </div>
                
            </div>
        {{/each}}
    </div>
</div>

{{!-------------------------CARRINHO-------------------------}}
{{!-- BOTAO QUE ABRE O CARRINHO --}}
<div id="botao-do-carrinho">
    <button onclick="abrirTelaDoCarrinho()">
        <i class="fa-solid fa-cart-shopping fa-3x"></i>
        {{!-- <p style="margin-left: 5px; font-size: 15px;">Ver Carrinho</p> --}}
    </button>
</div>

{{!-- CARRINHO EM SI --}}
<div id="carrinho">

    {{!-- TITULO --}}
    <div class="titulo-carrinho">
        <i class="fa-solid fa-cart-shopping fa-2x"></i>
        <p><b>Seu carrinho</b></p>

        <button class="sair-carrinho" onclick="fecharTelaDoCarrinho()">
            <i class="fa-solid fa-angle-down fa-xl"></i>
        </button>
    </div>

    {{!-- PRIMEIRA TELA: ITENS NO CARRINHO --}}
    <div id="itens-carrinho">
        <p>Seus itens:</p>
        <div class="itens-no-carrinho">

            {{!-- MSG QUE DEVE APARECER SE O CARRINHO ESTIVER VAZIO --}}
            <div class="msg-carrinho-vazio">
                <br>
                <p><b>Você ainda não adicionou nada no carrinho!</b></p>
                <img class="img-carrinho-vazio" src="undraw_empty_cart.svg" alt="carrinho-vazio"/>
            </div>
        </div>
        {{!-- <p>Assim que escolher seus itens, clique no botão abaixo para continuar.</p> --}}
        <div class="botoes-carrinho">
            <button onclick="irTelaDadosDoCliente()">
                <i class="fa-solid fa-angle-right fa-xl" style="padding-right:3px;"></i>
                Continuar
            </button>
        </div>
    </div>

    {{!-- SEGUNDA TELA: DADOS PARA PEDIDO --}}
    <div id="dados-carrinho">
        <p>Digite os seus dados para finalizar o pedido:</p>
        <div class="dados">
            <br>
            {{!-- NOME DO CLIENTE --}}
            <label for="nome-cliente">Nome</label>
            <input type="text" id="nome-cliente" name="nome-cliente" class="input" placeholder="Digite o seu nome aqui...">

            {{!-- EMAIL DO CLIENTE --}}
            <label for="email-cliente">E-mail</label>
            <input type="text" id="email-cliente" name="email-cliente" class="input" placeholder="Digite o seu email aqui...">

            {{!-- TELEFONE DO CLIENTE --}}
            <label for="telefone-cliente">Telefone</label>
            <input type="text" id="telefone-cliente" name="telefone-cliente" class="input" placeholder="Digite o seu telefone aqui...">
        </div>

        <div class="botoes-carrinho">
            <button class="botao2" onclick="irTelaItensDoCarrinho()">
                <i class="fa-solid fa-angle-left fa-xl" style="padding-right:3px;"></i>
                Voltar
            </button>

            <button>
                <i class="fa-solid fa-check fa-xl" style="padding-right:3px;"></i>
                Reservar Itens
            </button>
        </div>
    </div>
    
</div>

<script src="main.js"></script>