{{!-- testando 123</h5> --}}

<div class="titulo">
      <h2>Itens Disponíveis</h2>
      <p>Aqui você pode ver os produtos e serviços disponíveis para compra.</p>
</div>

<br>

<div class="conteudo">
    <h2>Produtos</h2>
    <div class="divisor"></div>

    <div class="itens">    
        {{#each produtos}}
            <div class="container-produto">
                {{!-- Nome: {{nome_comprador}}<br> --}}
                <div class="imagem-produto-loja">
                    <img src={{caminho_da_imagem}} alt="imagem"/>
                </div>
                
                <div class="opcoes-loja">
                    <h2>{{nome_item}}</h2>
                    <br><span class="preco">{{preco}}</span>
                    <p>
                        {{quantidade_disponivel}} disponíveis
                    </p>

                    <button class="botao-carrinho">
                        <i class="fa-solid fa-cart-shopping" style="padding-right:3px;"></i>
                        Adicionar ao carrinho
                    </button>
                </div>
                
            </div>
        {{/each}}
    </div>

    <br>
    <h2>Serviços</h2>
    <div class="divisor"></div>

    <div class="itens">
        {{#each servicos}}
            <div class="container-produto">
                {{!-- Nome: {{nome_comprador}}<br> --}}
                <div class="imagem-produto-loja">
                    <img src={{caminho_da_imagem}} alt="imagem"/>
                </div>
                
                <div class="opcoes-loja">
                    <h2>{{nome_item}}</h2>
                    <br><span class="preco">{{preco}}</span>
                    <p>
                        {{quantidade_disponivel}} disponíveis
                    </p>

                    <button class="botao-carrinho">
                        <i class="fa-solid fa-cart-shopping" style="padding-right:3px;"></i>
                        Adicionar ao carrinho
                    </button>
                </div>
                
            </div>
        {{/each}}
    </div>
</div>