<h2>Memoriais Cadastrados</h2>
<h5>Administrador,aqui você pode gerenciar todos memoriais cadastrados até o momento</h5>
 {{#each memoriais}}
<div id="justify" >
     <div class="justify">
          <div>
          <div>
                <a href="{{imagem}}"> <img class="imagem-falecido-adm" src="{{imagem}}" alt="falecido"> </a>
          </div>
          </div>     
          <div id="nome-do-falecido">
               <label><b>{{nome}}</b></label>
          </div>
          
          
          <div id="buttoms">
          <a href="/del-memoriais/{{id}}"><button>Apagar&nbsp<i class='fas fa-trash' style='font-size:14px;color:branco'></i></button></a>
          <a href="/detalhes-memoriais?id={{id}}"><button>Detalhes&nbsp<i class='fa fa-folder-open' style='font-size:14px;color:branco' ></i></button></a>
          <a href="/editar-memoriais?id={{id}}"><button>Editar&nbsp<i class='fas fa-edit' style='font-size:14px;color:branco'></i></button></a>
          </div>
     </div>     
</div>          
          
              
        
      
       
     
     
   

    
     
     





     

          
    
    

{{/each}}
<script src="main.js"></script>

