<div id="titulo-detalhes">


{{#each memoriais}}

          
                   

    
 <div id="primeiro-titulo"><p>Detalhes do falecido</p></div>
        
</div>          
<div id="tabela-detalhes">
               <table>
                    
                         <tr>
                              
                              <th>Nome &nbsp <i class='far fa-address-book'style='font-size:48px;color:black'></i></th>
                              
                         <tr>    
                         <tr>
                              <td>{{nome}}</td>                                                                                                         
                             
                         </tr>
                         <br>
                         <tr>
                             
                              <th>Imagem &nbsp<i class='fas fa-image' style='font-size:48px;color:black'></i></th>
                              
                         <tr>    
                         <tr>
                                                                                                                                    
                              <td>{{imagem}}</td>                                                                                                          
                              
                         </tr>
                         <tr>
                             
                              
                              <th>Local de Nascimento&nbsp<i class='fas fa-address-card' style='font-size:48px;color:black'></i></th>
                             
                         <tr>    
                         <tr>
                                                                                                                                    
                              <td>{{local_nascimento}}</td>                                                                                                           
                              
                         </tr>
                         <tr>
                             
                             
                              <th>Data de Nascimento&nbsp<i class='fas fa-address-card' style='font-size:48px;color:black'></i></th>
                              
                         <tr>    
                         <tr>
                                                                                                                                         
                              <td>{{data_nascimento}}</td>                                                                                                             
                              
                         </tr>
                         <tr>
                             
                             
                              <th>Local de Falecimento&nbsp<i class='fas fa-book-dead' style='font-size:48px;color:black'></i></th>
                              
                         <tr>    
                         <tr>
                                                                                                                                      
                              <td>{{local_falecimento}}</td>                                                                                                        
                              
                         </tr>
                         <tr>
                             
                              
                              <th>Data de Falecimento&nbsp<i class='fas fa-book-dead' style='font-size:48px;color:black'></i></th>
                              
                         <tr>    
                         <tr>
                                                                                                                                      
                              <td>{{data_falecimento}}</td>                                                                                                             
                              
                         </tr>
                         <tr>
                             
                             
                              <th>Breve Mensagem&nbsp<i class='fas fa-comment-alt' style='font-size:48px;color:black'></i></th>
                              
                         <tr>    
                         <tr>
                                                                                                                                     
                              <td>{{breve_mensagem}}</td>                                                                                                           
                              
                         </tr>
                         <tr>
                             
                             
                              <th>Biografia&nbsp<i class='fa fa-newspaper-o' style='font-size:48px;color:black'></i></th>
                              
                         <tr>    
                         <tr>
                                                                                                                                       
                              <td>{{biografia}}</td>                                                                                                           
                              
                         </tr>
                         <tr>
                             
                             
                              <th>Link do video de Homenagem&nbsp<i class='fas fa-link' style='font-size:48px;color:black'></i></th>
                         <tr>    
                         <tr>
                                                                                                                                   
                              <td><a href="{{link_video_de_homenagem}}">{{link_video_de_homenagem}}</a></td>
                         </tr>
        </table>
       
     
    </div>
     
</div>
{{/each}}

