<div id="titulo-detalhes">


{{#each servicos}}

          
                   

    
 <div id="titulo-produtos"><p>{{nome_item}}</p></div>
        
</div>
<div id="detalhes-produtos-adm">
               
               <div id ="imagem-itens-adm"><a href="{{caminho_da_imagem}}"> <img class="imagem-itens-adm" src="{{caminho_da_imagem}}" alt="produto"> </a><div>
               
</div>
<div class="pre-container" id="pre-container">
    
    <div class="container">
        <div class="comprador">
            <b><p>Nome do Item:</p></b>
            {{nome_item}}
           <br><br><hr><br>
        
        
            
            <b><p>Quantidade:</p></b>
            {{quantidade_disponivel}}
            <br><br><hr><br>

            <b><p>Email:</p></b>
            {{email}}
            <br><br><hr><br>
            
            <b><p>Preço:</p></b>
            {{preco}}
            
            
      </div>


        
        
    </div>
{{/each}}

</div>

