


    

       
{{#each servicos}}
        <div id="titulo-editar">
            <h2>Editar  {{nome_item}}</h2>
            
        </div>
      
<div id="edicao-detalhes-produtos">

        <div class="pre-container">
            <div class="container">
                <form action="/atualizar-servicos/{{id}}" method="post">
                    
                    <!--NOME-->
                    <label for="nome-item">Nome do Produto</label>
                    <input type="text" id="nomeitem" name="nomeitem" class="input" placeholder="Digite aqui o nome do iten.." value ="{{nome_item}}">
                    
                    <!--IMAGEM-->
                    <label for="caminho-da-imagem">Caminho da Imagem do Produto</label><br>
                    <!--<input type="file" id="imagemFalecido" name="imagemFalecido"><br>-->
                    <input type="text" id="caminhodaimagem" name="caminhodaimagem" class="input" placeholder="Digite o caminh.." value="{{caminho_da_imagem}}">
                    
                    
                    
                    
                    
                    <label for="preco">Preço</label>
                    <input type="int" id="preco" name="preco" class="input" placeholder="Digite aqui o local do nascimento.." value="{{preco}}" style="color: white;">

                    <label for="quantida-de-disponivel">Quantidade Disponivel</label>
                    <input type="int" id="quantidadedisponivel" name="quantidadedisponivel" class="input" placeholder="Digite aqui o local do nascimento.." value="{{quantidade_disponivel}}">
                    <br>

                    
                           
                    <!--ENVIAR-->
                    <a href="/editar-servicos?id={{id}}"><button>Salvar</button></a>
                </form>
            </div>
        </div>
{{/each}}
      </div>  
    </body>

</html>

