<div class="titulo">
    <h2>Memoriais Cadastrados</h2>
    <p>Aqui você pode ver todos os memoriais cadastrados no nosso site.</p>
</div>

<div class="conteudo">
    {{#each memorial}}
        <div class="memoriais">
            <img class="imagem-memoriais" src="{{imagem}}" alt="imagem">
            <p><b>{{nome}}</b></p>
            <p>{{formatDate data_nascimento}} <b>-</b> {{formatDate data_falecimento}}</p>
            <p>{{local_nascimento}} <b>-</b> {{local_falecimento}}</p>

            <br>
            <div >
                <button onclick="window.location='/memorial?id={{id}}';">Ver Memorial</button>
            </div>
        </div>
    {{/each}}
</div>